[Unit]
Description=lantern-ingest-server
ConditionPathExists=/go/pkg/mod/github.com/lantern-org
After=network.target

[Service]
Type=simple
User=daemon
Group=daemon

WorkingDirectory=/root/ingest-server
ExecStart=/go/bin/ingest-server --api-addr=127.0.0.1 --api-port=4200 --udp-ports=42069,65533-65535

Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
